## Python training course with pandas
<i> June 8, 2016 </i>

### Challenge: write down all that we've done so far

### Using Markdown

#### Headers

# H1
## H2
### H3
#### H4
##### H5
###### H6

Alternatively, for H1 and H2, an underline-ish style:

Alt-H1
======

Alt-H2
------

see https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet as a nice example

### you can also add images
Here's our logo (hover to see the title text):

Inline-style: 
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

## Getting to know basic python language

In [2]:
str("hello, isn't it a lovely day?")

"hello, isn't it a lovely day?"

In [3]:
type("hello, isn't it a lovely day?")

str

In [4]:
type(45)

int

In [5]:
type('45')

str

We can convert int to string and etc., but with limits

In [8]:
int1 = 'hello'

In [9]:
int1

'hello'

In [10]:
type(int1)

str

In [11]:
int2 = '42'
type(int2)

str

In [12]:
int3 = int(int2)

In [13]:
type(int3)

int

In [15]:
int(42.3)

42

#### Input command

In [17]:
input('type a number')

type a number42

'42'

#### Creating variables

In [18]:
number = '42'

In [19]:
number

'42'

In [20]:
type(number)

str

In [23]:
number = int(number)

In [24]:
type(number)

int

In [25]:
## we can chain things together
number = input('type a number')

type a number42

In [26]:
number

'42'

In [27]:
number2 = int(number)

In [28]:
type(number2)

int

In [30]:
string1 = 'try'
string2 = 'it'
string12 = string1+string2
string3 = '42'
string4 = '45'
string34 = string3+string4

In [32]:
string12

'tryit'

In [33]:
string34

'4245'

In [35]:
string3_4 = int(string3+string4)

In [36]:
string3_4

4245

In [38]:
string3_4b = int(string3)*int(string4)

In [39]:
string3_4b

1890

In [40]:
x = 2
y = 'fun'
double = x*y
double

'funfun'

In [41]:
type(.345)

float

In [42]:
x = 273 - 200 * 2
x

-127